@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul{
	list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=====Default=====*/
* {
    color: #302F44;
    font-size: 100%;
    font-family: "Open Sans", serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    opacity: 0.5;
}

h1, h2, h3 {
    font-weight: bold;
}

.page {
    max-width: 1200px;
    min-width: 400px;
    margin:auto;
    padding: 0 20px;
}

.active {
    opacity: 0.5;
}

.bold {
    font-weight: bold;
}

.link {
    opacity: 0.5;
}

.link:hover {
    opacity: initial;
}

/*=====HEADER=====*/

.navigation-languages {
    height: 50px;
}

.button-language {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    padding: 20px 0 0 20px;
    cursor: pointer;
}

.button-language:hover {
    opacity: 0.5;
}

.header-container {
    width: 100%;
    display: inline-block;
    float: left;
}

/*PHOTO*/
.photo-wrap {
    width: 160px;
    height: 160px;
    position: relative;
    text-align: center;
    border-radius: 100%;
    border: solid 5px #302F44;
}

.photo {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.photo img {
    width: 110%;
    position: absolute;
    left: 0;
    top: -25px
}

/*=====BODY======*/

/*ICONS*/

.icons {
    width: 5%;
    float: left;
    clear: left;
}

.icon-bitbucket {
    width: 20px;
    vertical-align: sub;
}

/*SECTIONS*/
.section {
    position: relative;
    padding-top: 20px;
    padding-left: 40px;
}

.section-title {
    text-transform: uppercase;
    border-bottom: solid 2px #302F44;
}

.section-text, .section-item {
    line-height: 1.5em;
    padding-right: 5px;
    font-size: 15px;
}

.section-list {
    padding-left: 0px;
}

.section-item {
    background: url("circumference.svg") no-repeat 0 6px;
    background-size: 10px;
    padding-left: 15px;
}

/*PROJEKTS*/

.side-panel-wrap {
    position: relative;
}

.side-panel{
    width: 10px;
    height: 100%;
    position: absolute;
    float: left;
    z-index: 700;
    background-color:#302F44;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.side-panel-circle{
    width: 8px;
    height: 8px;
    position: relative;
    top: 1px;
    left: 1px;
    z-index: 800;
    border-radius: 100%;
    background-color: #fbfdff;
}

/*KNOWLEDGE*/

.section-subitem {
    padding-top: 10px;
}

.section-subitem:last-child {
    padding-bottom: 10px;
}

.section-subitem-title {
    width: 50%;
    display: inline-block;
}

.section-subitem-mark {
    vertical-align: middle;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px #302F44;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 4px;
    overflow: hidden;
}

.circle-full {
    background-color: #302F44;
}

.circle-halfempty {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background-color: #302F44;

}

/* ======================================================================= */
/* ======= Styly s dotazy na médium pro určité velikosti obrazovky ======= */
/* ======================================================================= */


/*-----------------Styly pro 320px a vice---------------------------*/

@media print, screen and (min-width: 320px) {

    /*=====DEFAULT=====*/

    h1, h2 {
         text-align: center;
     }

    h1 {
        padding-top: 10px;
        font-size: 1.5em;
    }

    h2 {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    /*=====HEADER=====*/

    .photo-wrap {
        margin: auto;
    }

    .header-container-address {
        display: none;
    }

    .person {
        padding: 30px 0;
    }

    /*=====BODY=====*/
    .section {
        padding-left: 25px;
    }

    .section-title {
        font-size: 15px;
        margin-left: 25px;
        margin-top: 30px;
    }

    #basic-informations .section-title  {
        margin-top: 0px;
    }

    .navigation-list {
        text-align: center;
     }

    .navigation-item {
        display: inline-block;
        padding: 0 7px;
    }

    #basic-informations {
        clear: left;
        padding-top: 30px;
    }

    .side-panel {
        left: -20px;
    }

    /*=====FOOTER=====*/

    .footer {
        margin: 25px;
        padding-top: 25px;
        border-top: dashed 2px #302F44;
    }

    .footer-address-items {
        font-size: 14px;
        line-height: 1.5;
    }

    .footer-address-title {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
    }

}

/*-----------------Styly pro 600px a vice---------------------------*/

@media print, screen and (min-width: 600px) and (max-width: 849px) {

    /*=====HEADER=====*/

    .address-list {
        clear: both;
        text-align: center;
    }

    /*=====BODY=====*/

    .icons {
        width: 22px;
    }

    .section-title {
        font-size: 18px;
    }

    .section-text, .section-item {
        font-size: 18px;
    }

    .section-item {
        background-size: 12px;
        padding-left: 20px;
    }

    .side-panel{
        width: 12px;
        left: -20px;
    }

    .side-panel-circle{
        width: 10px;
        height: 10px;
        top: 1px;
        left: 1px;
    }

    .circle {
        width: 10px;
        height: 10px;
        margin-left: 4px;
    }
}

/*-----------------Styly pro 850px a vice---------------------------*/

@media only screen and (min-width: 850px) {

    /*=====DEFAULT=====*/

    h1, h2 {
        text-align: left;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    /*=====HEADER=====*/

    .header-container {
        width: 50%;
    }

    .photo-wrap {
        margin: 0;
        float: left;
    }

    .person {
        position: absolute;
        display: inline-block;
        margin-top: 50px;
        margin-left: 25px;
        padding: 0;
    }

    .header-container-address {
        display: inherit;
    }

    .address {
       float: right;
       margin-top: 50px;
   }

   .address-item {
       display: block;
       text-align: left;
       font-size: 20px;
       line-height: 1.5;
   }

    .navigation {
        display: none;
    }

    #basic-informations {
        padding-top: 50px;
    }

    /*=====BODY=====*/

    .container {
        clear: both;
    }

    .section {
        padding-left: 40px;
    }

    .icons {
        width: 30px;
    }

    section {
        width: 48%;
    }

    .section-title {
        font-size: 20px;
        margin-left: 40px;
        margin-top: 0;
    }

    .section-text, .section-item {
        font-size: 19px;
    }

    .section-item {
        background-size: 15px;
        padding-left: 30px;
    }

    .sections-wrap {
        overflow: hidden;
    }

    #basic-informations {
        float: left;
    }

    #education {
        display: inline-block;
        padding-top: 50px;
        padding-left: 4%;
     }

    #expiriences {
        padding-top: 70px;
        padding-bottom: 70px;
        float: left;
    }

    #knowledge {
        display: inline-block;
        padding-left: 4%;
        padding-top: 70px;

    }

    .side-panel{
        width: 20px;
        left: -35px;
    }

    .side-panel-circle{
        width: 16px;
        height: 16px;
        top: 2px;
        left: 2px;
    }

    .circle {
        width: 12px;
        height: 12px;
        margin-left: 6px;
    }

    .footer {
        visibility: collapse;
    }
}






